:root {
  --site-box-shadow: 2.6px 5.1px 5.1px hsl(0deg 0% 0% / 0.42);
  --primary-color: rgb(191, 222, 190);
  --font-color: #2a3f30;
}
nav {
  background: rgba(239, 196, 193, 1);
}

body {
  background: var(--primary-color);
}
h1,
h2 {
  text-align: center;
  color: var(--font-color);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 32px;
  font-weight: 120;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--font-color);
}

h4 {
  font-size: 24px;
  font-weight: 120;
  color: var(--font-color);
}

p {
  line-height: 2rem;
  margin: 20px 0;
}

.mini-portfolio img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.cta-buttons {
  margin: 50px auto;
  background: var(--font-color);
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: block;
  max-width: 130px;
  text-decoration: none;
}

.cta-buttons:hover {
  border-bottom: solid 3px rgba(191, 222, 190, 0.8);
  border-right: solid 3px rgba(191, 222, 190, 0.8);
}

.greeting {
  background: var(--primary-color);
  background: linear-gradient(
    0deg,
    rgba(191, 222, 190, 1) 0%,
    rgba(237, 197, 193, 1) 53%,
    rgb(239, 196, 193) 100%
  );
  padding: 160px 64px 80px 64px;
}

.nav-link {
  color: var(--font-color);
}

.nav-link:hover,
.active {
  background: rgba(191, 222, 190, 0.5);
  border-radius: 15px;
}

@media (max-width: 576px) {
  .nav-link:hover {
    background: none;
  }
  .active {
    background: none;
    text-decoration: underline;
  }
}

.navbar-brand {
  background: var(--font-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: rgb(239, 196, 193);
  transition: all 150ms ease-in-out;
  border: solid 1px var(--font-color);
}

.navbar-brand:hover {
  background: rgb(239, 196, 193);
  color: var(--font-color);
}

.mini-portfolio-header {
  margin-bottom: 30px;
}

.mini-portfolio {
  margin-bottom: 60px;
}

.mini-portfolio-links {
  text-decoration: none;
}

.minis h3,
.minis h4 {
  color: white;
}
.minis {
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.minis:hover {
  transform: scale(1.03);
}

.weather-mini {
  background: #3f612d;
  box-shadow: var(--site-box-shadow);
}

.clock-mini {
  background: #a05c7b;
  box-shadow: var(--site-box-shadow);
}

.ai-mini {
  background: #944654;
  box-shadow: var(--site-box-shadow);
}

.about-heading {
  padding-top: 120px;
}

.about-heading h1,
.about-heading h2 {
  text-align: left;
}

.me-photo {
  max-width: 70%;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.about-heading a {
  margin: 0;
}

.main-work-images {
  max-width: 70%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.portfolio-item {
  text-align: center;
}

.portfolio p {
  margin: 0;
}

.work-contact-header {
  padding-top: 80px;
}

.container .cta-buttons {
  margin-top: 20px;
}

footer {
  padding: 30px;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
}

.social-links {
  padding: 10px;
  font-size: 32px;
}

.social-links a {
  color: var(--font-color);
}

.website-links {
  padding: 10px;
}

.website-links a {
  color: var(--font-color);
  text-decoration: none;
  padding: 0 40px 0 40px;
}

.website-blurb {
  font-size: 12px;
  padding: 10px;
  max-width: 40%;
}

.website-blurb a {
  color: black;
}

@media (max-width: 576px) {
  .greeting {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .me-photo {
    max-width: 100%;
  }

  .portfolio p {
    margin-bottom: 20px;
  }
}
